.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.alert-status-code {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.alert-message {
    font-size: 14px;
    flex-grow: 1;
    margin-right: 10px;
}

.alert-close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 20px;
}

.alert-progress-bar {
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: width 0.1s linear;
    position: absolute;
    bottom: 0;
    left: 0;
}
