.card-array-container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card-array-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.single-card-container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}