.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.search-input {
    flex-grow: 1;
    border: none;
    padding: 5px 5px 5px 20px;
    font-size: 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.search-button {
    background-color: #007bff;
    flex-grow: 1;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}
